* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

:root {
    --Gold: #dfb758;
    --Orange: #fa9444;
    --White: #fff;
    --Black: #000;
    --Dark-Grey: #4f4f4f;
    --lite-Grey: #f4f4f4;
    --Grey: #555555;
    --Yellow: #d4dc30;
    --Magenta: #ce1e61;
    --Cyan: #1ca1db;
    --Blue: #052291;
    --Transparent-Gold: rgba(165,124,0,0.7);
    --Shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
    margin: 0;
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    background-color: var(--Lite-Grey);
    color: var(--Grey)
}

.button {
    margin: 10px auto;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    align-items: center;
}

.button a {
    padding: 10px 40px;
    margin: 10px auto;
    background: var(--Gold);
    text-decoration: none;
    color: var(--White);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}

.button:hover a {
    background-color: #2b2b2bb9;
    background-blend-mode: darken;
    color: var(--Gold);
    box-shadow: 1px 1px 5px var(--Black),
                -1px -3px 5px var(--Black);
}

.header {
    position: relative;
    display: flex;
    top: 0;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--Gold);
    box-shadow: 0px 1px 3px var(--Black);
}

.site-logo {
    width: 100px;
    float: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 100px;
}

.nav-video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
}

.site-logo img {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    margin: 0px auto;
    margin-right: 250px;
}

.navbar ul {
    display: flex;
    width: 200px;
    margin: 0 auto;
    align-items: center;
}

.navbar ul li {
    padding: 10px;
    margin: 0 5px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #00000080;
    background-blend-mode: multiply;
}

.navbar ul li a {
    color: var(--White);
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    transition: all 250ms ease-in-out;
}

.navbar ul li a:hover {
    color: var(--Gold);
    font-size: 11px;
    cursor: pointer;
    padding: 11px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  padding: 50px 100px;
  margin: 5 auto;
  outline: none;
  background: var(--Lite-Grey);
}

.search-bar input {
  border-radius: 10px;
  color: var(--Gold);
  font-size: 12px;
  letter-spacing: 0.2em;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  background: #020202a4;
  background-blend-mode: multiply;
  outline: none;
  border: 1px solid #ffffffa2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.795);
  transition: all 200ms ease-in-out;
}

.search-bar input:focus {
  font-size: 13px;
  letter-spacing: 0.2em;
  border: 1px solid var(--Gold);
  box-shadow: inset 2px 2px 5px #000;
}

.search-bar a {
  color: var(--White);
  position: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid 1px var(--Gold);
  height: 40px;
  width: 40px;
  background: var(--Gold);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -50px;
  transition: all 250ms ease-in-out;
  /*border: 1px solid var(--Dark-Grey);*/
}

.search-bar i {
  color: var(--White);
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px var(--Black);
  margin-top: 10px;
}

.search-bar a:hover {
  color: var(--Gold);
  background: var(--Dark-Grey);
}

#suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 3px 3px 2px rgba(94, 104, 123, 0.288),
    -0.5px -0.5px 2px var(--Grey);
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
}

#suggestions li:hover {
  background-color: #ddd;
}

.fa-solid, .fa-regular {
    color: var(--Gold);
    padding: 0 10px;
    font-size: 18px;
}

.carousel-wrapper {
    height: 450px;
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.95);
    background-blend-mode: luminosity;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    isolation: isolate;
    transition: all 350ms ease-in-out;
  }

  .carousel-item h1 {
    position: absolute;
    font-size: 35px;
    color: var(--Gold);
    top: 100px;
    left: 50px;
    isolation: isolate;
    z-index: 10;
    margin-left: -400px;
    margin-top: 80px;
  }

  .arrow{
    background: var(--Gold);
    border: 2px solid var(--Black);
    opacity: 20%;
    border-radius: 50%;
    display: inline-block;
    padding: 12px;
    isolation: isolate;
    z-index: 10;
  }
  
  .arrow-prev {
    left: -50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }

  .arrow-next {
    right: -50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }

  [id^= "item"] {
    display: none;
  }

  .item-1 {
    opacity: 1;
    background: url('../images/archi-slide.jpg');
    background-size: cover;
    border-radius: 15px;
    margin: 30px 500px;
    margin-right: 100px;
  }

  .item-2 {
    background: url('../images/engine-slide.jpg');
    background-size: cover;
    border-radius: 15px;
    margin: 30px 500px;
    margin-right: 100px;
  }

  .item-3 {
    background: url('../images/construction-slide.jpg');
    background-size: cover;
    border-radius: 15px;
    margin: 30px 500px;
    margin-right: 100px;
  }

  .item-4 {
    background: url('../images/manage-slide.jpg');
    background-size: cover;
    border-radius: 15px;
    margin: 30px 500px;
    margin-right: 100px;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }

  .intro-text {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--lite-Grey);
}

.intro-text p {
    color: var(--Grey);
    padding: 20px;
    font-size: 15px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 35px 50px;
    border: 2px solid var(--Gold);
}

.text-img {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    background-image: url('../images/designs_background.jpg');
    background-size: cover;
}

.text-img img {
    width: 60%;
}

.text-img:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20;
    left: 0;
    border-top: 2px solid var(--Grey);
    z-index: 50;
}

.things_we_do {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.plan-design, .stay-on-budget, .professional, .integrity, .peace-of-mind, .stability {
    position: relative;
    width: 33%;
    background-image: linear-gradient(60deg, #0000001f, #dfb75818, #1ca2db07, #fa934409);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    padding-left: 30px;
    padding-right: 20px;
    margin: 15px 30px;
    margin-right: -5px;
    color: var(--Grey);
    border-radius: 15px;
    align-items: top;
}

.plan-design::before, .stay-on-budget::before, .professional::before, .integrity::before, .peace-of-mind::before, .stability::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -4px;
    width: 75%;
    height: 55%;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-left: 4px solid var(--Gold);
    border-bottom: 4px solid var(--Gold);
}

.things_we_do i {
    font-size: 30px;
    padding: 5px;
    color: #000000d5;
    mix-blend-mode: multiply;
    text-align: center;
}

.things_we_do span {
    color: var(--Gold);
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.things_we_do p {
    text-align: justify;
}

.text {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.text h1 {
    border: 3px solid var(--Gold);
    border-radius: 15px;
    padding: 10px 30px;
    background-image: linear-gradient(60deg, #0000001f, #dfb75818, #1ca2db07, #fa934409);
    color: var(--Dark-Grey);
}

.text p {
    padding: 15px;
    text-shadow: 1px 1px 2px var(--Grey);
    background: var(--lite-Grey);
    background-blend-mode: multiply;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.featured-designs {
    display: flex;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    background: var(--lite-Grey);
}

.featured-designs h1 {
    width: 350px;
    color: var(--Gold);
    padding: 10px;
    padding-left: 40px;
    text-shadow: 1px 1px 3px var(--Black);
    background: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

.designed {
    display: flex;
    overflow-x: auto;
}

.featured-designs span {
    color: var(--Dark-Grey);
    margin: 0 auto;
    font-size: 15px;
    padding: 0 10px 10px 10px;
}

.featured-designs p {
    color: var(--Dark-Grey);
    margin-top: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-left: 20px;
}

.featured-designs p a {
    display: inline-block;
    color: var(--Gold);
    text-decoration: none;
}

.design {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    background-image: linear-gradient(45deg, #0000000e, rgba(0, 153, 255, 0.103), #dfb75825, #dfb7588c);
    background-blend-mode: multiply;
    border-radius: 15px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.design:hover {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border: 1px solid var(--Gold);
    border-radius: 15px;
    background: var(--lite-Grey);
    box-shadow: 1px 2px 5px var(--Black),
                -1px -1px 5px var(--Black);
}

.design img {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px var(--Black);
}

.design h1 {
    padding: 5px;
    text-align: center;
}

.design h1 a {
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    color: var(--Black);
    transition: all 250ms ease-in-out;
}

.design h1 a:hover {
    color: var(--Gold);
    font-size: 21px;
    text-shadow: 1px 1px 3px #000000;
}

.design h2 {
    padding: 1px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 10px;
    align-items: top;
    justify-content: center;
}

.design h2 i {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    padding-right: 0.1em;
}

.design h2 span {
    font-size: 15px;
    color: #d10606;
    align-items: top;
}

.details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.details h4 {
    flex-basis: 2;
    padding: 5px 10px;
    line-height: 20px;
    color: var(--Grey);
    text-align: left;
}

.more {
    display: flex;
    width: 100%;
    margin: 20px auto;
    padding: 10px 350px;
    background: var(--lite-Grey);
    justify-content: center;
    align-items: center;
}

.more a {
    flex-basis: 35%;
    text-decoration: none;
    color: var(--White);
    background: var(--Gold);
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}

.more a:hover {
    background: #2b2b2bb9;
    background-blend-mode: darken;
    color: var(--Gold);
    box-shadow: 1px 1px 5px var(--Black),
                -1px -3px 5px var(--Black);
}

.rvt {
    display: flex;
    width: 100%;
    margin: 20px auto;
    padding: 10px 300px;
    background: var(--lite-Grey);
    justify-content: center;
    align-items: center;
}

.rvt a {
    flex-basis: 30%;
    text-decoration: none;
    color: var(--White);
    background: #0053FF;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}

.rvt a:hover {
    background: #2b2b2bb9;
    color: var(--Gold);
    box-shadow: 1px 1px 5px var(--Black),
                -1px -3px 5px var(--Black);
}

.bottom {
    text-align: center;
}

.bottom-content {
    width: 100%;
    font-size: medium;
    text-align: center;
    margin: 0 auto;
    background: url(../images/building.jpg);
    background-position: center;
    background-size: cover;
    color: var(--White);
}

.b-content {
    margin: 0;
    padding: 100px;
    background: rgba(0, 0, 0, 0.5);
}

.email-subscription {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "email-text email-text email-text"
    "enter-email enter-email submit";
    padding: 50px 100px;
}

.email-text {
    grid-area: email-text;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: var(--Grey);
}

.enter-email {
    grid-area: enter-email;
    width: 100%;
    padding: 10px;
    margin-right: 0px;
    color: var(--Grey);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid var(--Gold);
    outline: none;
}

.enter-email:focus {
    box-shadow: inset 1px 1px 3px var(--Grey);
    transition: all 350ms ease-in-out;
}

.submit {
    grid-area: submit;
    font-size: 20px;
    width: 100%;
    padding: 10px 10px 10px 0px;
    margin-right: 20px;
    margin-left: 0px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
    color: var(--White);
    background: var(--Gold);
}

.submit:hover {
    color: var(--Gold);
    background: var(--Grey);
    box-shadow: 1px 1px 3px var(--Black);
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url(../images/footer.jpg);
    background-size: cover;
    overflow: hidden;
}

.footer_sd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "reach-out explore follow-us"
    "copyright copyright copyright";
    width: 100%;
    padding-top: 30px;
    background: rgba(0, 0, 0, 0.85);
}

.reach-out {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
    margin: 10px;
}

.reach-out li {
    display: block;
    list-style-type: none;
    padding: 5px 0;
}

.reach-out li a {
    text-decoration: none;
    color: var(--White);
    padding: 10px;
    font-size: 15px;
    transition: all 200ms ease-in-out;
}

.reach-out li a:hover {
    color: var(--Gold);
}

.explore {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.explore li {
    display: block;
    list-style-type: none;
    padding: 5px 0;
}

.explore li a {
    text-decoration: none;
    color: var(--White);
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.explore li a:hover {
    color: var(--Gold);
    transition: all 250ms ease-in-out;
}

.follow-us {
    width: 100%;
    margin: 10px;
    padding-right: 50px;
}

.follow-us p {
    color: var(--White);
    font-size: 15px;
}

.follow-us ul {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.follow-us li {
    list-style-type: none;
    float: left;
}

.follow-us li a {
    text-decoration: none;
    color: var(--White);
    padding: 5px;
    font-size: 10px;
    text-align: center;
}

.fa-brands {
    color: var(--Gold);
    font-size: 30px;
    transition: all 250ms ease-in-out;
}

.fa-brands:hover {
    border: 0.5px solid var(--Gold);
    border-radius: 5px;
    color: #000000c4;
}

.copyright {
    grid-area: copyright;
    background: rgba(0, 0, 0, 0.);
    border-top: 1px solid var(--Gold);
    color: var(--Gold);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 991px)
{
    #services {
        display: grid;
        width: 100%;
        height: 45px;
        list-style-type: none;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        justify-content: center;
        align-items: center;
    }

    #services li {
        background: var(--lite-Grey);
        text-align: center;
        box-shadow: -0.5px -0.5px 5px rgba(255,255,255,1), 0.5px 0.5px 5px rgba(104, 104, 104, 0.8)
    }

    #services li:hover {
        background: var(--Grey);
        color: var(--Gold);
        transition: all 0.5s ease-in;
    }

    .intro-text {
        display: flex;
        background: var(--lite-Grey);
        color: var(--Grey);
        padding: 20px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        text-align: justify;
        margin: 0 auto;
    }

    .featured-designs {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0px;
        margin: 0;
        background: var(--lite-Grey);
    }

    .design h2 {
        padding: 5px;
        font-size: 10px;
        margin: 5px 160px;
    }
    
    .design h2 span:nth-child(1) {
        font-size: 35px;
    }
    
    .design h2 span:nth-child(2) {
        font-size: 35px;
    }

    .email-subscription {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "email-text email-text email-text"
        "enter-email enter-email submit";
        padding: 20px;
    } 

    .header {
        height: 45px;
    }

    .search-bar {
        padding: 5px;
    }

    .footer_sd {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
    }

    .reach-out {
        padding-left: 10px;
    }

    .explore {
        padding-left: 10px;
    }

    .follow-us {
        padding-left: 20px;
    }

    .copyright {
        background: rgba(0, 0, 0, 0.);
        border-top: 1px solid var(--Gold);
        color: var(--Gold);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }
}

/* About Us */

.about-header {
    width: 100%;
    height: 60vh;
    color: var(--White);
    background: url(../images/about-header.jpg);
    background-size: cover;
}

.about-header-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.about-header-overlay h2 {
    color: var(--Gold);
    font-size: 20px;
}

.abt {
    display: flex;
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
}

.abt-archi, .abt-engine, .abt-construct {
    display: flex;
    flex-direction: column;
    position: none;
    width: 100%;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.abt-archi img, .abt-engine img, .abt-construct img {
    width: 25%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.abt-archi span, .abt-engine span, .abt-construct span {
    color: var(--Gold);
    margin: 0 auto;
    padding: 5px 0px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.abt-archi p, .abt-engine p, .abt-construct p {
    color: var(--Grey);
    margin: 0 auto;
    text-align: justify;
    padding: 0 20px;
}

.mission-vision {
    width: 100%;
    padding: 20px;
    background: URL(../images/atrium.jpg);
    background-size: cover;
}

.mission, .vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px auto;
    padding: 20px;
    width: 80%;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
}

.mission h3, .vision h3 {
    color: var(--Gold);
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
}

.mission p, .vision p {
    color: var(--lite-Grey);
}

/* Contact Us */

.contact-header {
    width: 100%;
    height: 60vh;
    color: var(--White);
    background: url(../images/contact_us.jpg);
    background-size: cover;
}

.contact-header-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.contact-header-overlay h2 {
    color: var(--Gold);
    font-size: 20px;
}

.contact-us {
    width: 100%;
    text-align: justify;
    padding: 20px;
}

.contact-us p {
    margin: 20px auto;
    padding: 20px;
}

.form-contact-us {
    width: 100%;
    padding: 20px 0px;;
    background: url(../images/building_1.jpg);
    background-position: center;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: rgba(79, 79, 79, 0.9);
    padding: 20px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 5px var(--Black);
}

.contact-us-form h2 {
    justify-content: left;
    text-align: left;
    color: var(--Gold);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--Gold);
}

.contact-us-form input {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.full-name {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.full-name p {
    color: #FF3E00;
    font-size: 10px;
}

.gender, .male, .female {
    display: flex;
    align-items: center;
}

.gender {
    padding: 5px;
}

.male p, .female p {
    color: var(--White);
    padding-left: 5px;
    align-items: center;
}

.female {
    padding-left: 10px;
}

#email, #number {
    margin: 5px 0;
}

.address {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.country, .state {
    width: 100%;
    padding-bottom: 5px;
}

.country select, .state select {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
}

.label {
    padding: 0;
}

#address {
    width: 100%;
}

.address input {
    margin: 5px 0;
}

.checkbox {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 0;
}

.checkbox-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.checkbox p {
    padding: 0 5px;
    color: var(--White);
    align-items: center;
}

.contact-us-form textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 10px;
}

.contact-us-form input:focus, .contact-us-form textarea:focus, .select:focus {
    border: 1px solid var(--Gold);
}

.contact-us-form label {
    color: var(--Gold);
    font-size: 15px;
    align-items: top;
}

.select-location {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.select-location:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid;
    border-color: var(--Gold) var(--Cyan) var(--Orange) var(--Magenta);
}

.design-information {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.design-information label {
    font-size: 13px;
}

.design-information input {
    width: 100%;
}

.design-information div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px 0;
}

/* Work with Us */

.work-with-us-header {
    width: 100%;
    height: 60vh;
    color: var(--White);
    background: url(../images/work_with_us.jpg);
    background-size: cover;
}

.work-with-us-header-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.work-with-us-header-overlay h2 {
    color: var(--Gold);
    font-size: 30px;
}

.work-with-us {
    width: 100%;
    text-align: justify;
    padding: 10px;
}

.work-with-us p {
    margin: 10px auto;
    padding: 20px;
}

.buttons {
    width: 100%;
    padding: 10px 2px;
    margin: 5px auto;
    background: url(../images/work_with_us_buttons_background.jpg);
    background-size: cover;
}

.buttons a:hover {
    color: var(--Gold);
    background: var(--Grey);
}

.are-you-an-architect {
    width: 100%;
    padding: 10px 20px;
    margin: 5 auto;
}

.are-you-an-architect h2 {
    color: var(--Gold);
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.are-you-an-architect p {
    text-align: justify;
}

.are-you-an-architect a {
    text-decoration: none;
    color: var(--Gold);
}

/* Designs */

.designs {
    width: 100%;
    padding: 10px 20px;
    margin: 5px auto;
    background: var(--lite-Grey);
}

.designs h2 {
    color: var(--Gold);
    font-size: 20px;
    text-align: center;
}

.design-links {
    width: 100%;
    padding: 50px;
    margin: 0 auto;
    background: url(../images/designs_background.jpg);
    background-size: cover;
    background-position: center;
}

.links {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 35px 10px;
    margin: auto;
    margin: 10px;
    justify-content: center;
    border-radius: 6px;
    background: #000000d7;
    background-blend-mode: multiply;
}

.links a {
    flex-basis: 25%;
    color: var(--Gold);
    padding: 10px;
    margin: 10px 30px;
    border: 1px solid var(--lite-Grey);
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    justify-content: space-around;
    text-decoration: none;
    background-image: linear-gradient(60deg, #00000091, #dfb75869, #1ca2db7e, #fa934409);
    background-blend-mode: multiply;
    transition: all 250ms ease-in-out;
}

.links a:hover {
    color: var(--lite-Grey);
    border: 1px solid var(--Gold);
    font-size: 16px;
    text-align: center;
    background: #f4f4f425;
    background-blend-mode: multiply;
    box-shadow: 2px 2px 3px var(--Black),
                -4px -4px 7px var(--Black);
}

/* Architecture */

.intro-text-archi {
    display: flex;
    background: url(../images/atrium.jpg);
    background-size: cover;
    color: var(--Grey);
    padding: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    margin: 0 auto;
}

.intro-text-archi p {
    color: var(--White);
    border-radius: 6px;
    padding: 25px;
    background: #00000098;
    background-blend-mode: multiply;
}

.architectural-services {
    width: 100%;
    display: flex;
    width: 100%;
    margin: 10px auto;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
}

.consultation, .planning-design, .3D-rendering, .project-supervision {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    padding: 0 20px;
    color: var(--Grey);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.architectural-services Img {
    display: flex;
    flex-direction: Column;
    width: 30px;
    color: var(--Black);
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.architectural-services span {
    display: flex;
    flex-direction: Column;
    color: var(--Gold);
    margin: 0 auto;
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.architectural-services p {
    padding: 5px 30px;
    text-align: justify;
}

.form-field-architecture {
    position: relative;
    width: 100%;
    padding: 20px 0px;
    margin-top: 50px;
    background: url(../images/architecture_background.jpg);
    background-size: cover;
    isolation: isolate;
}

.form-field-architecture::after {
    position: absolute;
    width: 100%;
    height: 990px;
    top: 0;
    left: 0;
    content: "";
    background-image: linear-gradient(45deg, #000000bd, rgba(2, 42, 70, 0.712), #dfb7583a, #271c01da);
    background-blend-mode: multiply;
    z-index: -1;
}

.name-title {
    width: 50%;
    padding: 5px 0;
    margin: 5px 0;
}

#email, #number {
    width: 50%;
}

.architectural-request-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: #000000b9;
    background-blend-mode: multiply;
    padding: 20px 50px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 5px var(--Black);
}

.architectural-request-form h2 {
    justify-content: left;
    text-align: center;
    color: var(--Gold);
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--Gold);
}

.architectural-request-form label {
    color: var(--Gold);
    font-size: 15px;
    align-items: top;
    margin-top: 10px;
    margin-bottom: 0;
}

.architectural-request-form input {
    padding: 5px;
    outline: none;
    background: none;
    color: var(--White);
    border: none;
    margin: 5px 0px;
    margin-right: 300px;
    border-bottom: 1px solid var(--Gold);
}

.architectural-request-form input:focus {
    background: #ffffff09;
    color: var(--White);
    outline: none;
    border: 1px solid var(--Lite-Grey);
    border-radius: 5px;
}

.full-name {
    width: 100%;
    margin: 0;
    padding: 5px 0
}

.full-name p {
    color: #FF3E00;
    font-size: 10px;
}

.gender, .male, .female {
    display: flex;
    align-items: center;
}

.gender {
    padding: 5px;
}

.male p, .female p {
    color: var(--White);
    padding-left: 5px;
    align-items: center;
}

.female {
    padding-left: 10px;
}

.address {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.country, .state {
    width: 100%;
    padding-bottom: 5px;
}

.country select, .state select {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
}

.label {
    padding: 0;
}

#address {
    width: 100%;
}

.address input {
    margin: 5px 0;
}

.checkbox {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 0;
}

.checkbox-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.checkbox p {
    padding: 0 5px;
    color: var(--White);
    align-items: center;
}

.architectural-request-form textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 6px;
    font-size: 15px;
    color: var(--Grey);
    outline: none;
    border: none;
}

.architectural-request-form textarea:focus, .select:focus {
    font-size: 15px;
    border: 1px solid var(--Gold);
}

.select-location {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.select-location:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid;
    border-color: var(--Gold) var(--Cyan) var(--Orange) var(--Magenta);
}

.design-information {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.design-information div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px 0;
}

.terms-and-conditions-agreement {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 5px;
    align-items: top;
}

.terms-and-conditions-agreement .check, .checkbox .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.terms-and-conditions-agreement .check input[type="checkbox"], .checkbox .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.terms-and-conditions-agreement .check .checkmark, .checkbox .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid var(--Gold);
    border-radius: 6px;
    display: block;
    position: relative;
    background: var(--White);
}

.terms-and-conditions-agreement .check .checkmark:before, .checkbox .check .checkmark:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 2px;
    border: 1px solid;
    border-color: transparent transparent var(--Gold) var(--Gold);
    transform: rotate(-30deg);
    display: none;
}

.terms-and-conditions-agreement .check input[type="checkbox"]:checked ~ .checkmark, .checkbox .check input[type="checkbox"]:checked ~ .checkmark {
    background: #74797E;
}

.terms-and-conditions-agreement .check input[type="checkbox"]:checked ~ .checkmark:before, .checkbox .check input[type="checkbox"]:checked ~ .checkmark:before {
    display: block;
}

#number-of-renderings {
    width: 50%;
    margin: 0;
    margin-top: -20px;
}

.terms-and-conditions-agreement p {
    color: var(--Gold);
    padding: 5px;
    align-items: top;
}

#submit {
    float: right;
    width: 30%;
    padding: 5px 15px;
    background: var(--Gold);
    color: var(--White);
    box-shadow: 1px 1px 5px var(--Black);
    outline: none;
    border: none;
    border-radius: 6px;
}

#submit:hover {
    background: var(--Dark-Grey);
    color: var(--Gold);
    transition: all 350ms ease-in-out;
}

@media (max-width: 991px)
{
    .intro-text-archi {
        padding: 20px;
        font-size: 14px;
        line-height: 18px;
    }

    .intro-text-archi p {
        padding: 15px;
    }

    .architectural-services {
        display: flex;
        flex-direction: column;
    }
}

/* Engineering */

.intro-text-engine {
    display: flex;
    background: url(../images/engineering.jpg);
    background-size: cover;
    color: var(--Grey);
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    margin: 0 auto;
}

.intro-text-engine p {
    color: var(--White);
    border-radius: 6px;
    padding: 15px;
    background: rgba(79, 79, 79, 0.8);
}

.form-field-engineering {
    width: 100%;
    padding: 20px 0px;;
    background: url(../images/engineering_rtd.jpg);
    background-position: center;
}

.engineering-request-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: rgba(79, 79, 79, 0.9);
    padding: 20px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 5px var(--Black);
}

.engineering-request-form h2 {
    justify-content: left;
    text-align: left;
    color: var(--Gold);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--Gold);
}

.engineering-request-form input {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.full-name {
    width: 100%;
    margin: 0;
    padding: 5px 0
}

.full-name p {
    color: #FF3E00;
    font-size: 10px;
}

.gender, .male, .female {
    display: flex;
    align-items: center;
}

.gender {
    padding: 5px;
}

.male p, .female p {
    color: var(--White);
    padding-left: 5px;
    align-items: center;
}

.female {
    padding-left: 10px;
}

#email, #number {
    margin: 5px 0;
}

.address {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.country, .state {
    width: 100%;
    padding-bottom: 5px;
}

.country select, .state select {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
}

.label {
    padding: 0;
}

#address {
    width: 100%;
}

.address input {
    margin: 5px 0;
}

.checkbox {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 0;
}

.checkbox-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.checkbox p {
    padding: 0 5px;
    color: var(--White);
    align-items: center;
}

.engineering-request-form textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 10px;
}

.engineering-request-form input:focus, .engineering-request-form textarea:focus, .select:focus {
    border: 1px solid var(--Gold);
}

.engineering-request-form label {
    color: var(--Gold);
    font-size: 15px;
    align-items: top;
}

.select-location {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.select-location:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid;
    border-color: var(--Gold) var(--Cyan) var(--Orange) var(--Magenta);
}

.design-information {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.design-information label {
    font-size: 13px;
}

.design-information input {
    width: 100%;
}

.design-information div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px 0;
}

/* Construction request form */

.intro-text-construct {
    display: flex;
    background: url(../images/slab.jpg);
    background-size: cover;
    color: var(--Grey);
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    margin: 0 auto;
}

.intro-text-construct p {
    color: var(--White);
    border-radius: 6px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}

.form-field-construction {
    width: 100%;
    padding: 20px 0px;
    margin-top: 50px;
    background: url(../images/building_1.jpg);
    background-position: center;
}

.construction-request-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: rgba(79, 79, 79, 0.9);
    padding: 20px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 5px var(--Black);
}

.construction-request-form h2 {
    justify-content: left;
    text-align: left;
    color: var(--Gold);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--Gold);
}

.construction-request-form input {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.full-name {
    width: 100%;
    margin: 0;
    padding: 5px 0
}

.full-name p {
    color: #FF3E00;
    font-size: 10px;
}

.gender, .male, .female {
    display: flex;
    align-items: center;
}

.gender {
    padding: 5px;
}

.male p, .female p {
    color: var(--White);
    padding-left: 5px;
    align-items: center;
}

.female {
    padding-left: 10px;
}

#email, #number {
    margin: 5px 0;
}

.address {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.country, .state {
    width: 100%;
    padding-bottom: 5px;
}

.country select, .state select {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
}

.label {
    padding: 0;
}

#address {
    width: 100%;
}

.address input {
    margin: 5px 0;
}

.checkbox {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 0;
}

.checkbox-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.checkbox p {
    padding: 0 5px;
    color: var(--White);
    align-items: center;
}

.construction-request-form textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 10px;
}

.construction-request-form input:focus, .construction-request-form textarea:focus, .select:focus {
    border: 1px solid var(--Gold);
}

.construction-request-form label {
    color: var(--Gold);
    font-size: 15px;
    align-items: top;
}

.select-location {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.select-location:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid;
    border-color: var(--Gold) var(--Cyan) var(--Orange) var(--Magenta);
}

.design-information {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.design-information label {
    font-size: 13px;
}

.design-information input {
    width: 100%;
}

.design-information div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px 0;
}
